<style>
        p{
            color: royalblue;
        }
        .blue{
            color: violet;
            font-weight: bold;
            text-decoration: overline;
        }
        #ch1 {
            margin-top: 50px;
        }
</style>